<h1>Listing incidents</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Story</th>
    <th>Date</th>
    <th>Latt</th>
    <th>Long</th>
    <th>Victims</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @incidents.each do |incident| %>
  <tr>
    <td><%= incident.title %></td>
    <td><%= incident.story %></td>
    <td><%= incident.date %></td>
    <td><%= incident.latt %></td>
    <td><%= incident.long %></td>
    <td><%= incident.victims %></td>
    <td><%= link_to 'Show', incident %></td>
    <td><%= link_to 'Edit', edit_incident_path(incident) %></td>
    <td><%= link_to 'Destroy', incident, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Incident', new_incident_path %>
